$background-color: #cedff2;
$base-font-size: 17px;
$base-font-family: 'Signika Negative', serif;

.site-title {
  font-family: Cabin, sans-serif;
  font-style: italic;
}

.post-title {
  font-size: 10px;
}

h1, h2, h3 {
  font-family: Cabin, sans-serif;
  font-style: regular;
}

code {
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  font-style: normal;
}