$background-color: #f0f0f0;
$base-font-size: 17px;
$base-font-family: 'Signika Negative', serif;

.site-title {
  font-family: Cabin, sans-serif;
  font-style: italic;
}

.post-title {
  font-size: 10px;
}

h1, h2, h3 {
  font-family: Cabin, sans-serif;
  font-style: regular;
}

code {
  font-family: 'DM Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.footnotes {
  font-size: 16px;
}

.page-content p {
    text-align: justify;
}

h1:hover a, h2:hover a, h3:hover a {
    visibility: visible;
    color: lightgray;
}

.myAnchor {
    visibility: hidden;
}
